@import "tailwindcss";

body {

    background-color: #f7f5f2;
    overflow-x: hidden;
}
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v298/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  /* font-size: 24px; */
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.form-input{
      -webkit-appearance: none;
    appearance: none;
    /* background-color: #fff; */
    border-color: #6b7280;
    border-width: 1px;
    /* border-radius: 0px; */
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    /* font-size: 1rem;
    line-height: 1.5rem; */
    /* --tw-shadow: 0 0 #0000; */
}